body {
  background-color: rgb(8, 29, 41);
}

div {
  width: 250px;
  height: 250px;
  background-color: burlywood;
  margin-bottom: 5px;
  border-radius: 5px;
}

.special {
  background-color: coral;
}
